<br>
<div class="alert alert-success text-center" role="alert" style="background-color:whitesmoke">
<%= form_for :user, url: '/users' do |f| %>
  <ul><h1>Signup!</h1></ul>
  <br>
  <ul><h3>First Name:</h3></ul>
  <ul><%= f.text_field :first_name %></ul>
  <ul><h3>Last Name:</h3></ul>
  <ul><%= f.text_field :last_name %></ul>
  <ul><h3>Email:</h3></ul>
  <ul><%= f.text_field :email %></ul>
  <ul><h3>Password:</h3></ul>
  <ul><%= f.password_field :password %></ul>
  <ul><h3>Password Confirmation:</h3></ul>
  <ul><%= f.password_field :password_confirmation %></ul>
  <ul><%= f.submit "Submit" %></ul>
<% end %>
</div>
